
/*
     FILE ARCHIVED ON 13:23:22 May 03, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:53:38 Dec 15, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 707.36
  exclusion.robots: 0.119
  exclusion.robots.policy: 0.108
  RedisCDXSource: 3.307
  esindex: 0.008
  LoadShardBlock: 678.293 (3)
  PetaboxLoader3.datanode: 239.898 (4)
  CDXLines.iter: 18.974 (3)
  PetaboxLoader3.resolve: 630.147 (2)
  load_resource: 304.114
*/