#shopping,#msnservices,#money .child.c4,#money .child.c4 h3,#money .child.c5,#money .child.c5 h3,#shopping .c3 li.first a,#promo,#foot .c1{background-color:#d1e2fe;color:#666}#head,#content h2,#content h2 a,.flipper,.flipper a,.flipper a:visited,.flipper a:hover,#searchform label,#searchcategory ul li,#searchcategory ul li a{background-color:#5c99dc;color:#fff}#header2 h4,#header3 h3,#header2 a,#header3 a{color:#fff}#foot,#foot a{background-color:#fff;color:#064d9f}body,#nav,#nav h2,#nav h2 a,#big4 ul li,#content h3,#content,.screen,.photolistset h4{background-color:#fff;color:#666}.stock .up{background-color:#fff;color:#090}.stock .dn{background-color:#fff;color:#f00}#searchcategory ul li.selected,#searchcategory ul li.selected a,#head input.button,#foot input.button{background-color:#54b818;color:#fff;font-weight:bold}#content .chrome3,#content .chrome5,#content .chrome7{border-color:#5c99dc}html>body #money .c5{border-bottom:1px solid #5c99dc}#big4 ul{border:none}#big4 ul li{background-color:#d1e2fe;border:1px solid #049;padding-top:.2em;padding-bottom:.2em}#big4 ul li a{padding:0}#nav h2{border-top:1px solid #aacbee}#navnews h2{border-top:0}.stock tr td{border-bottom:1px solid #aacbee}#money .c3,#money .c4,#shopping .c3{border-top:1px solid #aacbee}#head input.button,#foot input.button{border:1px solid #94de17}#chtrquicklinks,#vz01quicklinks,#vz01quicklinks2{border-bottom:1px solid #aacbee;font-size:95%}#themes .selected a{color:#b7fd01}
/*
     FILE ARCHIVED ON 13:23:19 May 03, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:53:37 Dec 15, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 202.286
  exclusion.robots: 0.064
  exclusion.robots.policy: 0.059
  cdx.remote: 0.043
  esindex: 0.006
  LoadShardBlock: 51.241 (3)
  PetaboxLoader3.datanode: 56.85 (4)
  CDXLines.iter: 27.546 (3)
  load_resource: 286.746
  PetaboxLoader3.resolve: 264.479
*/